<!DOCTYPE html>
<html>
  <head>
    <title>Enseniame</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
    <div class="container">
      <svg class="circle1" width="46px" height="49px" viewBox="0 0 46 49" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Artboard" transform="translate(-490.000000, -120.000000)" stroke="#FFFFFF" stroke-width="2">
                  <path d="M534.972931,168 C534.399872,157.437969 524.799422,149 513,149 C501.200578,149 491.600128,157.437969 491.027069,168 C502.978374,168 503.242429,168 512.979844,168 C522.7314,168 522.995287,168 534.972931,168 Z M511.5,147 C518.963544,147 525,141.171697 525,134 C525,126.828303 518.963544,121 511.5,121 C504.036456,121 498,126.828303 498,134 C498,141.171697 504.036456,147 511.5,147 Z" id="Path"></path>
              </g>
          </g>
      </svg>

    





     <%= yield %>
    </div>
  </body>
</html>
